.block-hero-banner {
    background-color: var(--#{$prefix}banner-bg);
    justify-content: flex-end;
    //background-color: tint-color($primary, 20%);

    &-grid {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        align-items: center;
    }

    &-horizontal-text {
        text-orientation: sideways;
        writing-mode: vertical-rl;
        font-weight: 400;
        font-size: .9rem;
        color: $gray-600;
        transform: rotate(180deg);
        align-self: center;
        width: 20%;
        padding: 2rem 0;
    }

    &-header {
        position: relative;
        right: -120px;
        z-index: 5;
    }

    &-leading {
        font-family: $headings-font-family;
        font-size: clamp(2.5rem, 4vw, 4.5rem);
        font-weight: 400;
        text-wrap: nowrap;
        line-height: 1;
        margin-top: 50px;
    }

    &-text {
        font-weight: 300;
        color: $gray-400;
        margin: 1.5rem 0;
    }

    &-content {
        padding: 2rem;
    }
}

@include media-breakpoint-down(lg) {
    .block-hero-banner {
        &-grid {
            grid-template-columns: 30% auto;
        }

        &-header {
            position: relative;
            right: -50px;
            z-index: 5;
        }

        &-image-container {
            position: relative;
            height: 100%;
    
            img {
                object-fit: cover;
                object-position: left;
                position: absolute;
                height: 100%;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .block-hero-banner {
        &-grid {
            grid-template-columns: 30% auto;
        }
    }
}