.block-hero-banner {
    background-image: url(https://dewoonsteetiel.wordpress.test/app/uploads/2023/11/©studioPSG.be-19606-scaled.jpg);
    background-color: var(--#{$prefix}banner-bg);
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    padding: 3rem 0 0;
    height: 850px;
    justify-content: flex-end;
    //background-color: tint-color($primary, 20%);

    &-heading {
        font-family: $headings-font-family;
        font-weight: 500;
        line-height: 1;
        white-space: nowrap;

        @include font-size(2.4rem);
    }

    &-content {
        padding: 2rem;
    }
}

@include media-breakpoint-down(lg) {
    .block-hero-banner {
        &-heading {
            white-space: normal;
        }
    }
}