.block-image-text {
    position: relative;

    &::after {
        position: absolute;
        content: " ";
        height: 400px;
        width: 400px;
        z-index: -2;
    }

    &-odd {
        &::after {
            background-color: var(--bg-color);
            top: -40px;
            right: -40px;
        }
    }

    &-even {
        &::after {
            background-color: var(--bg-color);
            bottom: 50%;
            left: 30%;
        }
    }
}