#team-members {
    margin-top: 2rem;
}

.member {
    position: relative;
    margin-bottom: 1.5rem;

    &:hover,
    &.active {
        img {
            filter: grayscale(0);
        }
    }

    &-image {
        img {
            filter: grayscale(100%);

            @include transition(.32s);
        }
    }

    &-body {
        margin-top: 1rem;
    }

    &-name {
        font-family: $headings-font-family;
        font-size: 1.4rem;
        font-weight: 600;
    }

    &-role {
        font-size: .8rem;
        text-transform: uppercase;
    }
}