.block {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;

    &-col,
    &-col {
        flex: 1;
    }

    &-standaard {
        position: relative;

        &::after {
            position: absolute;
            content: " ";
            height: 400px;
            width: 400px;
            z-index: -2;
        }

        &.block-even {
            &::after {
                background-color: tint-color($primary, 75%);
                top: -40px;
                right: -40px;
            }
        }

        &.block-odd {
            &::after {
                background-color: tint-color(#73AB84, 75%);
                bottom: 50%;
                left: 30%;
            }
        }
    }

    &-text {
        background-color: tint-color($gray-200, 35%);
        padding: 2rem;
    }
}