.rank-math-breadcrumb {
    position: relative;
    padding: 2rem 0;
    z-index: 4;

    p {
        margin-bottom: 0;
    }

    span {
        font-size: 1rem;
    }

    .separator {
        display: inline-block;
        width: 25px;
        text-align: center;
    }

    a {
        color: $dark;
    }

    .last {
        color: $text-muted;
    }
}