.btn {
    position: relative;
    --b: #{$btn-border-width};   /* border thickness */
    --s: .2em; /* size of the corner */
    --c: #{$dark};
    --_p: var(--s);

    background:
        conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
        var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .12s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .2em;
    border: none;
    transition: background .2s ease-in-out;
    
    @include line-hover( 'btn', calc( 100% - $btn-padding-x * 2 ), 37% );
    
    &:active {
        background-color: transparent;
    }

    &::before {
        background-size: 200%;
        background-position: 0%;

        height: calc(100% - var(--s) * 2 - $btn-border-width);
        width: calc(100% - var(--s) * 2 - $btn-border-width);
        top: calc(var(--s) + 1px);
        left: calc(var(--s) + 1px);
        z-index: -1;
    }

    &-secondary {
        color: $dark;
        background-color: transparent;
        transition: all .2s ease-in-out;

        &::before {
            @include pseudo;
            @include gradient-x($white, $white);
        }

        &::after {
            background-color: $dark;
        }

        &:hover {
            color: $dark;
            background-color: transparent;
        }
    }

    &-dark {
        --codeit-btn-bg: transparent;
        --codeit-btn-active-bg: transparent;
        --codeit-btn-disabled-bg: transparent;
        --codeit-btn-active-shadow: none;
        --codeit-btn-active-border-color: transparent;

        &::before {
            @include pseudo;
            @include gradient-x($dark, $dark);
        }

        &::after {
            background-color: $white;
        }

        &:hover {
            color: $white;
            background-color: transparent;
        }
    }

    &-outline {
        &-white {
            --c: #{$white};
            color: $white;

            &:hover {
                background-color: transparent;
                color: $white;
                //--_p: 0px;
        
                .fa-arrow-right-long {
                    right: calc(var(--s) * -1);
                }
            }

            &::after {
                background-color: $white;
            }
        }

        &-dark {
            --c: #{$dark};
            --codeit-btn-bg: transparent;
            --codeit-btn-active-color: #{$dark};
            --codeit-btn-active-bg: transparent;
            --codeit-btn-disabled-bg: transparent;
            --codeit-btn-active-shadow: none;
            --codeit-btn-active-border-color: transparent;

            &:hover {
                background-color: transparent;
                color: $dark;
                //--_p: 0px;
        
                .fa-arrow-right-long {
                    right: calc(var(--s) * -1);
                }
            }
        }
    }

    [class^="fa-"] {
        position: relative;
        transition: right .12s ease-in-out;
        right: 0;
    }

    @keyframes border-radius-in {
        from { 
            border-top-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        to { 
            border-top-left-radius: 25px;
            border-bottom-right-radius: 25px;
        }
    }

    @keyframes border-radius-out {
        to { 
            border-top-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    @keyframes btn-background-anim-in {
        from {
            background-position: 0%;
        }
        to {
            background-position: -100%;
        }
    }

    @keyframes btn-background-anim-out {
        from {
            background-position: -100%;
        }
        to {
            background-position: 0%;
        }
    }
}