$prefix: 'codeit-';

$grays: (
    "100": tint-color(#1F292E, 87),
    "200": tint-color(#1F292E, 80),
    "300": tint-color(#1F292E, 70),
    "400": tint-color(#1F292E, 60),
    "500": tint-color(#1F292E, 50),
    "600": tint-color(#1F292E, 40),
    "700": tint-color(#1F292E, 30),
    "800": tint-color(#1F292E, 20),
    "900": tint-color(#1F292E, 10),
);

$gray-100: map-get($grays, '100');
$gray-200: map-get($grays, '200');
$gray-300: map-get($grays, '300');
$gray-400: map-get($grays, '400');
$gray-500: map-get($grays, '500');
$gray-600: map-get($grays, '600');
$gray-700: map-get($grays, '700');
$gray-800: map-get($grays, '800');
$gray-900: map-get($grays, '900');

$white: #fff;
$primary: #e2dbd1;
$secondary: #2F3335;
$tetriary: #C89A86;
$dark: #1F292E;
$light: $gray-100;
$white: #fff;
$info: #4eb9de;
$success: #61D161;
$warning: #EDC25E;
$danger: #E24536;
$black: #000;

$font-path: '../fonts';
$font-size-base: 1.2rem;
$font-weight-base: 300;
$font-family-base: 'Sweet Sans Pro';

$body-color: $dark;

$spacer: 1rem;
$enable-shadows: true;
$border-radius: 0;

$navbar-padding-y: 0;
$navbar-brand-font-size: 2rem;

$nav-link-padding-y: 1.5rem;
$nav-link-padding-x: 0rem;

$navbar-nav-link-padding-x: $nav-link-padding-x;

$headings-font-family: 'Goldenbook';
$headings-font-style: normal;
$headings-font-weight: 400;

$lead-font-size: $font-size-base * 2;

$input-btn-padding-y: 1rem;
$input-btn-padding-x: 1.5rem;

$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $input-btn-padding-x;
// $btn-font-family:                   $input-btn-font-family;
// $btn-font-size:                     $input-btn-font-size;
// $btn-line-height:                   $input-btn-line-height;

$btn-font-weight: 300;
$btn-box-shadow: none;
$btn-border-width: 2px;

$carousel-control-color:             $dark;
$carousel-control-width:             15%;
$carousel-control-opacity:           .5;
$carousel-control-hover-opacity:     .9;
$carousel-control-transition:        opacity .15s ease;

$carousel-indicator-width:           30px;
$carousel-indicator-height:          3px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer:          3px;
$carousel-indicator-opacity:         .5;
$carousel-indicator-active-bg:       $white;
$carousel-indicator-active-opacity:  1;
$carousel-indicator-transition:      opacity .6s ease;

$carousel-caption-width:             70%;
$carousel-caption-color:             $white;
$carousel-caption-padding-y:         1.25rem;
$carousel-caption-spacer:            1.25rem;

$carousel-control-icon-width:        3rem;

$carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
$carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

$carousel-transition-duration:       .6s;
$carousel-transition:                transform 0 ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)

$card-spacer-y:                     1rem;
$card-spacer-x:                     1rem;
$card-title-spacer-y:               0;
$card-border-width:                 0;
$card-border-color:                 transparent;
$card-border-radius:                0;
$card-box-shadow:                   null;
$card-cap-padding-y:                $card-spacer-y * .5;
$card-cap-padding-x:                $card-spacer-x;
$card-cap-bg:                       transparent;
$card-cap-color:                    null;
$card-height:                       null;
$card-color:                        null;
$card-bg:                           $white;
$card-img-overlay-padding:          $spacer;

$popover-bg:                        $white;
$popover-max-width:                 556px;
$popover-border-width:              0;
$popover-border-color:              var(--#{$prefix}border-color-translucent);
$popover-border-radius:             0;
$popover-inner-border-radius:       subtract($popover-border-radius, $popover-border-width);
$popover-box-shadow:                none;

$popover-body-color:                $body-color;
$popover-body-padding-y:            $spacer;
$popover-body-padding-x:            $spacer;

$popover-arrow-width:               1rem;
$popover-arrow-height:              .5rem;