.entry-header {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.post-share-links {
    .post-share-links-social {
        display: flex;
        flex: 1;
        margin-top: 1rem;
        gap: 1rem;
    }
}

.title-with-line {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: $text-muted;

    > span + span {
        background-color: $text-muted;
        height: 1px;
        flex-grow: 1;
        margin-left: 1rem;
        margin-top: 3px;
    }
}

picture {
    margin-right: 2rem;
    margin-bottom: .5rem;
    box-shadow: 10px 10px 0 $primary;
}

// .row:has(.nav-sidebar) {
//     .sidebar-left {
//         position: relative;

//         &::after {
//             position: absolute;
//             display: block;
//             content: " ";
//             height: 100%;
//             width: 1px;
//             right: 0;
//             top: 0;
//             border-left: 1px dashed $primary;
//         }
//     }
// }