@font-face {
    font-family: 'Sweet Sans Pro';
    font-style: normal;
    font-weight: 100;
    src: local('Sweet Sans Pro'), url('#{$font-path}/sweet-sans-pro/SweetSansProExThin.woff') format('woff');
    descent-override: 50%;
}


@font-face {
    font-family: 'Sweet Sans Pro';
    font-style: italic;
    font-weight: 100;
    src: local('Sweet Sans Pro'), url('#{$font-path}/sweet-sans-pro/SweetSansProExThinItalic.woff') format('woff');
    descent-override: normal;
}


@font-face {
    font-family: 'Sweet Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: local('Sweet Sans Pro'), url('#{$font-path}/sweet-sans-pro/SweetSansProThin.woff') format('woff');
    descent-override: normal;
}


@font-face {
    font-family: 'Sweet Sans Pro';
    font-style: italic;
    font-weight: 200;
    src: local('Sweet Sans Pro'), url('#{$font-path}/sweet-sans-pro/SweetSansProThinItalic.woff') format('woff');
    descent-override: normal;
}


@font-face {
    font-family: 'Sweet Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Sweet Sans Pro'), url('#{$font-path}/sweet-sans-pro/SweetSansProExLight.woff') format('woff');
    descent-override: normal;
}


@font-face {
    font-family: 'Sweet Sans Pro';
    font-style: italic;
    font-weight: 300;
    src: local('Sweet Sans Pro'), url('#{$font-path}/sweet-sans-pro/SweetSansProExLightItalic.woff') format('woff');
    descent-override: normal;
}


@font-face {
    font-family: 'Sweet Sans Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Sweet Sans Pro'), url('#{$font-path}/sweet-sans-pro/SweetSansProLight.woff') format('woff');
    descent-override: normal;
}


@font-face {
    font-family: 'Sweet Sans Pro';
    font-style: italic;
    font-weight: normal;
    src: local('Sweet Sans Pro'), url('#{$font-path}/sweet-sans-pro/SweetSansProLightItalic.woff') format('woff');
    descent-override: normal;
}


@font-face {
    font-family: 'Sweet Sans Pro';
    font-style: normal;
    font-weight: bolder;
    src: local('Sweet Sans Pro'), url('#{$font-path}/sweet-sans-pro/SweetSansProMedium.woff') format('woff');
    descent-override: normal;
}


@font-face {
    font-family: 'Sweet Sans Pro';
    font-style: italic;
    font-weight: bolder;
    src: local('Sweet Sans Pro'), url('#{$font-path}/sweet-sans-pro/SweetSansProMediumItalic.woff') format('woff');
    descent-override: normal;
}


@font-face {
    font-family: 'Sweet Sans Pro Bold';
    font-style: normal;
    font-weight: 600;
    src: local('Sweet Sans Pro Bold'), url('#{$font-path}/sweet-sans-pro/SweetSansProBold.woff') format('woff');
    descent-override: normal;
}


@font-face {
    font-family: 'Sweet Sans Pro';
    font-style: italic;
    font-weight: 600;
    src: local('Sweet Sans Pro'), url('#{$font-path}/sweet-sans-pro/SweetSansProBoldItalic.woff') format('woff');
    descent-override: normal;
}


@font-face {
    font-family: 'Sweet Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Sweet Sans'), url('#{$font-path}/sweet-sans-pro/SweetSansProHeavy.woff') format('woff');
    descent-override: normal;
}


@font-face {
    font-family: 'Sweet Sans Pro';
    font-style: italic;
    font-weight: 700;
    src: local('Sweet Sans Pro'), url('#{$font-path}/sweet-sans-pro/SweetSansProHeavyItalic.woff') format('woff');
    descent-override: normal;
}

@font-face {
    font-family: 'Filosofia';
    src: url(#{$font-path}/filosofia/Filosofia.ttf);
    font-style: normal;
    font-weight: 400;
    // descent-override: 0%;
}

@font-face {
    font-family: 'IvyMode';
    src: url(#{$font-path}/ivy/IvyMode-Variable.woff2);
    font-style: normal;
    font-variation-settings: "ital" 0, "wght" 200;
    font-weight: 100 900;
    descent-override: 0%;
}

@font-face {
    font-family: 'Cormorant';
    src: url(#{$font-path}/cormorant/Cormorant-VariableFont_wght.ttf);
    font-weight: 100 900;
    descent-override: 0%;
}

@font-face {
    font-family: 'Cormorant';
    src: url(#{$font-path}/cormorant/Cormorant-Italic-VariableFont_wght.ttf);
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: 'DIN';
    src: url(#{$font-path}/din/FF-DIN-Variable.woff);
    font-weight: 100 900;
}

@font-face {
    font-family: 'DIN';
    src: url(#{$font-path}/din/FF-DIN-Italic-Variable.woff);
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: 'Overpass';
    src: url(#{$font-path}/overpass/Overpass-VariableFont_wght.ttf);
    font-weight: 100 900;
    descent-override: 0%;
}

@font-face {
    font-family: 'Overpass';
    src: url(#{$font-path}/overpass/Overpass-Italic-VariableFont_wght.ttf);
    font-weight: 100 900;
    font-style: italic;
    descent-override: 0%;
}

@font-face {
    font-family: 'Alta';
    src: local('Alta'), url('#{$font-path}/Alta_regular.woff2') format('woff2');
    font-weight: 300;
    descent-override: 0%;
}

@font-face {
    font-family: 'Goldenbook';
    font-weight: 300;
    src: local('Goldenbook'), url('#{$font-path}/goldenbook/Goldenbook-light.woff2') format('woff2');
}

@font-face {
    font-family: 'Goldenbook';
    font-weight: 400;
    src: local('Goldenbook'), url('#{$font-path}/goldenbook/Goldenbook-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Goldenbook';
    font-weight: 600;
    src: local('Goldenbook'), url('#{$font-path}/goldenbook/Goldenbook-bold.woff2') format('woff2');
}