#wrapper-footer-full {
    background-color: $dark;
    padding: 4rem 0 2rem;
    color: $white;

    .footer-widget {
        color: $white;

        h6 {
            font-size: 1rem;
            margin-bottom: 1.5rem;
            font-weight: 500;
            text-transform: uppercase;
            color: $gray-700;
        }
    }

    .fa-brands {
        background-color: transparent;
        color: $white;
        border-color: $white;

        &:hover {
            background-color: $white;
            color: $black;
        }
    }

    .form-control {
        border-bottom-color: tint-color($dark, 85%);
        color: tint-color($dark, 85%);
    }

    h2 {
        color: tint-color($dark, 20%);
    }
}

#wrapper-footer {
    background-color: shade-color($dark, 10%);
    color: tint-color($dark, 55%);

    a[href] {
        color: tint-color($dark, 35%);
        text-decoration: none;
        border-bottom: 1px dashed tint-color($dark, 50%);
    }
}

#footer-guarantees {
    margin-top: 2rem;
    color: $gray-600;
}

.footer-widget {
    width: 50%;
}

@include media-breakpoint-down(md) {
    .footer-widget {
        width: 100%;
        text-align: center;
    }
}

.whatsapp {
    display: flex;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    gap: 1em;
    align-items: center;
    z-index: 9999;

    span {
        display: none;
        background-color: #fff;
        padding: .5rem 1rem;
        border-radius: 5px;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    }

    .fa-whatsapp {
        background-color: #25D366;
        color: #fff;
        border: none;
        font-size: 2rem;
        height: 55px;
        width: 55px;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    }
}