#wrapper-footer-full {
    background-color: $dark;
    padding: 4rem 0;

    .footer-widget {
        color: $gray-500;

        h6 {
            font-size: 1.2rem;
            margin-bottom: 1.5rem;
            font-weight: 500;
            text-transform: uppercase;
            color: $gray-200;
        }
    }

    .fa-brands {
        background-color: $gray-100;

        &:hover {
            background-color: $white;
            color: $black;
        }
    }

    .form-control {
        border-bottom-color: tint-color($dark, 85%);
        color: tint-color($dark, 85%);
    }

    h2 {
        color: tint-color($dark, 20%);
    }
}

#wrapper-footer {
    background-color: shade-color($dark, 10%);
    color: tint-color($dark, 55%);

    a[href] {
        color: tint-color($dark, 35%);
        text-decoration: none;
        border-bottom: 1px dashed tint-color($dark, 50%);
    }
}

.footer-widget {
    width: 50%;
}