.wpcf7 {
    p {
        margin-bottom: 0;
    }
}

.form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $dark;
    padding: .85rem 0;
    box-shadow: none;
    font-family: var(--#{$prefix}font-monospace);

    &:focus {
        background-color: inherit;
        border-bottom: 1px solid $dark;
        box-shadow: none;
        outline: none;
    }
}

.text-bg-dark {
    .form-control {
        border-bottom: 1px solid $white;
        color: $white;
    }
}