.wpcf7 {
    .screen-reader-response {
        position: absolute;
        visibility: hidden;
        clip-path: inset(50%);
        height: 1px;
        width: 1px;
    }

    .wpcf7-not-valid-tip,
    .wpcf7-response-output {
        color: $danger;
        font-size: .8rem;
        text-transform: uppercase;
    }

    .wpcf7-response-output {
        margin-top: 2rem;
    }
}

.form {
    background-color: $primary;
    height: 100%;
}

.form-control {
    --#{$prefix}form-control-color: $body-color;
    --#{$prefix}form-control-focus-color: $body-color;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid $gray-900;
    padding: .85rem 0;
    box-shadow: none;
    font-weight: 300;
    font-size: .8rem;
    text-transform: uppercase;
    color: var(--#{$prefix}form-control-color);

    @include transition(.75s);

    &:focus {
        background-color: inherit;
        border-bottom: 1px solid $dark;
        box-shadow: none;
        padding: .85rem .4rem;
        outline: none;
        color: var(--#{$prefix}form-control-focus-color);
    }

    &::placeholder {
        color: $gray-700;
        text-transform: uppercase;
        opacity: 1;
        font-weight: 300;
        font-size: .8rem;
    }

    &::-ms-input-placeholder {
        color: $gray-700;
        text-transform: uppercase;
        opacity: 1;
        font-weight: 300;
        font-size: .8rem;
    }
}

.text-bg-dark {
    .form-control {
        --#{$prefix}form-control-color: $gray-300;
        --#{$prefix}form-control-focus-color: $gray-300;

        border-bottom: 1px solid $white;

        &:focus {
            border-bottom: 1px solid $white;
        }
    }
}

.acf-field {
    margin-bottom: 1rem;
}

.acf-label {
    display: none;
    font-weight: 300;
    text-transform: uppercase;
    font-size: .8rem;
}