#single-project,
#error-404-wrapper {
    flex-grow: 1;
}

.type-project {
    max-width: 840px;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;

    > #page-wrapper {
        flex-grow: 1;
    }
}