.page-template-contact-page {
    #content {
        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;

            li {
                display: flex;
                gap: 1rem;

                strong {
                    font-weight: 500;
                    width: 50px;
                }
            }
        }
    }
}