.page-template-contact-page {
    #content {
        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;

            li {
                display: flex;
                gap: 1rem;

                strong {
                    font-weight: 500;
                    width: 50px;
                }
            }
        }
    }
}

.inline-list {
    font-weight: 500;
    font-size: .9rem;
    text-transform: uppercase;
    line-height: 1;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: 4rem;
    margin-bottom: 2rem;

    li {
        position: relative;
        margin-bottom: 1rem;
    }

    li::before {
        position: absolute;
        left: -2rem;
        top: 3px;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        color: $tetriary;
    }

    &-check {
        li::before {
            font-family: "Font Awesome 6 Pro"; font-weight: 700; content: "\f058";
        }
    }

    &-dash {
        li::before {
            font-family: "Font Awesome 6 Sharp"; font-weight: 500; content: "\e404";
        }
    }
}