.navbar {
    background-color: $dark;
    border-bottom: 1px solid $dark;

    --#{$prefix}navbar-color: #{$white};
    --#{$prefix}navbar-hover-color: #{$white};
    --#{$prefix}navbar-brand-color: #{$white};
    --#{$prefix}navbar-brand-hover-color: #{$white};

    &-brand {
        font-family: $headings-font-family;
        text-transform: uppercase;
        font-weight: 300;

        img {
            max-width: 340px;
        }
    }

    --#{$prefix}navbar-brand-margin-end: 5rem;

    &-nav {
        justify-content: space-between;
        flex-grow: 1;
    }
}

.admin-bar {
    #main-nav {
        &.fixed-top {
            top: 32px;
        }
    }
}