.nav {
    &-item {
        @include line-slide-in-animation( -100%, 0% );
        @include line-hover('link', 100%, 39%, var(--#{$prefix}nav-link-active-color));

        &.active {
            .nav-link {
                color: var(--#{$prefix}nav-link-active-color);
            }
        }
    }

    &-link {
        text-transform: uppercase;
        font-weight: 400;

        @include transition(.12s);
    }

    &-brand {
        font-size: 2.4rem;
    }

    &-social {
        color: shade-color($primary, 30%);

        .fab,
        .fa-brands {
            color: shade-color($primary, 30%);
            border-color: shade-color($primary, 30%);
        }
    }

    &-brand {
        color: shade-color($primary, 10%);
    }

    &-sidebar {
        background-color: $primary;
        padding: 1rem;

        li.active {
            a {
                font-weight: 500;
            }
        }

        li a {
            padding: .5rem .75rem;
            display: block;
            border-bottom: 0;
            border-radius: 5px;
        }
    }
}

// WordPress wp_nav_menu
.nav-menu {
    .nav {
        > .menu-item {
            position: relative;
            text-transform: uppercase;
            margin-top: .6rem;

            a {
                color: $gray-500;
                font-size: 1rem;
                font-weight: 300;

                @include line-hover('link', 100%, 0%, $white);
            }
        }

        .menu-item {
            &.current-menu-item,
            &.current-menu-ancestor {
                > a {
                    color: $white;
                }
            }
        }

        .menu-item-has-children {
            position: relative;
            overflow: visible !important;
    
            .sub-menu {
                visibility: hidden;
                background-color: $dark;
                position: absolute;
                display: block;
                list-style: none;
                padding: 1.2rem 0 0;
                min-width: 280px;
                top: 100%;
                box-shadow: 0 0 35px 7px rgb(0 0 0 / 0.3);
                z-index: 5;
                max-height: 0;

                .menu-item {
                    padding: .5rem 1rem;
                }
            }

            &:hover {
                .sub-menu {
                    animation: .12s slide-in forwards;
                }
            }
        }
    }
}

#offcanvas-navbar {
    .menu-item {
        a {
            @include line-slide-in-animation( -100%, 0% );
            @include line-hover('link', 100%, 0%, var(--#{$prefix}nav-link-active-color));

            border-bottom: 0;
            font-size: 1.4rem;
            font-weight: 400;
            color: var(--#{$prefix}gray-700);
        }

        &.current-menu-parent,
        &.current-menu-item {
            > a {
                color: var(--#{$prefix}nav-link-active-color);
            }
        }

        &-has-children {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 1.5rem;
        }

        .sub-menu {
            display: flex;
            flex-direction: column;
            padding-left: 0;
            list-style: none;
            align-items: center;
            margin-top: .5rem;

            li {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .5rem;

                &::before {
                    content: "—";
                }

                a {
                    font-weight: 300;
                }
            }
        }
    }
}

@keyframes slide-in {
    from { 
        max-height: 0;
        visibility: hidden;
    }
    to { 
        max-height: 550px; 
        visibility: visible;
    }
}