.nav {
    &-item {
        position: relative;
        overflow: hidden;

        @include line-slide-in-animation( -100%, 0% );
        @include line-hover('link', 100%, 39%, var(--#{$prefix}nav-link-active-color));

        &.active {
            .nav-link {
                color: var(--#{$prefix}nav-link-active-color);
            }
        }
    }

    &-link {
        text-transform: uppercase;
        font-weight: 400;

        @include transition(.12s);
    }

    &-brand {
        font-size: 2.4rem;
    }

    &-social {
        color: shade-color($primary, 30%);

        .fab,
        .fa-brands {
            color: shade-color($primary, 30%);
            border-color: shade-color($primary, 30%);
        }
    }

    &-brand {
        color: shade-color($primary, 10%);
    }
}

// WordPress wp_nav_menu
.nav-menu {
    .nav {
        .menu-item {
            text-transform: uppercase;

            @include line-hover('link', 100%, 0%, $white);

            a {
                color: $gray-500;
                font-size: 1rem;
                font-weight: 300;
            }

            &.current-menu-item {
                a {
                    color: $white;
                }
            }
        }
    }
}