.navbar {
    background-color: $white;
    border-bottom: 1px solid $white;

    --#{$prefix}navbar-color: #{$dark};
    --#{$prefix}navbar-hover-color: #{$dark};
    --#{$prefix}navbar-brand-color: #{$dark};
    --#{$prefix}navbar-brand-hover-color: #{$dark};
    --#{$prefix}navbar-brand-padding-y: 1.5rem;

    &-brand {
        font-family: $headings-font-family;
        text-transform: uppercase;
        font-weight: 400;

        img {
            width: 240px;
        }
    }

    --#{$prefix}navbar-brand-margin-end: 5rem;

    &-nav {
        justify-content: space-between;
        flex-grow: 1;
    }
}

.admin-bar {
    #main-nav {
        &.fixed-top {
            top: 32px;
        }
    }
}