.tns-ovh {
    overflow: visible;
}

.b-carousel {
    overflow: hidden;
    
    .tns-slide-active {
        img {
            display: block;
            margin: 0 auto;
        }
    }
}

.slider {
    display: flex;
    gap: 1rem;

    .tns-item {
        animation: fade-slide-out .12s forwards;
        overflow: hidden;
    }
    
    .tns-slide-active, 
    .tns-slide-active ~ * {
        animation: fade-slide-in .12s forwards;
    }

    &-item {
        position: relative;
        display: flex !important;
        flex-direction: column !important;
        gap: .75rem;

        a {
            overflow: hidden;
        }
    }

    &-title {
        color: $dark;
        text-transform: uppercase;
    }

    // &-title {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: flex-end;
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     color: $gray-300;
    //     padding: 1rem;
    //     text-transform: uppercase;
    //     z-index: 9;

    //     @include transition(.12s);

    //     &::after {
    //         position: absolute;
    //         content: " ";
    //         left: 0;
    //         bottom: 0;
    //         width: 100%;
    //         height: 100px;
    //         z-index: -1;

    //         @include gradient-y(transparent, $dark);
    //     }

    //     &:hover {
    //         color: $white;
    //     }
    // }

    &-controls {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        margin-top: 1rem;

        button {
            position: relative;
            background-color: transparent;
            border: none;
            color: $dark;
            font-size: 3rem;

            @include transition();
        }

        button {
            &:hover {
                transform: translateX(-5px);
            }
        }

        button + button {
            &:hover {
                transform: translateX(5px);
            }
        }
    }
}

@keyframes fade-slide-out {
    to { opacity: 0; }
}

@keyframes fade-slide-in {
    to { opacity: 100%; }
}

@keyframes zoom-in {
    to { transform: scale(1.1); }
}

@keyframes zoom-out {
    to { transform: scale(1); }
}