a[href] {
    display: inline-block;
    text-decoration: none;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: clamp(2rem, 5vw, 2.5rem);
    margin-bottom: clamp(.5rem, 1vw, 1.3rem);
}

h6 {
    color: $gray-500;
    font-family: $font-family-base;
    font-weight: 600;
}

blockquote {
    font-family: $headings-font-family;
    font-weight: 200;
}

.fab,
.fa-brands {
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border: 1px solid $dark;
    border-radius: 50%;
    text-decoration: none;
    color: $dark;

    &:hover {
        background-color: $gray-100;

        @include transition(.12s);
    }
}