a {
    color: $tetriary;
    display: inline-block;
    text-decoration: none;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: clamp(2rem, 5vw, 2.5rem);
    margin-bottom: clamp(.5rem, 1vw, 1.3rem);
}

h5 {
    font-family: $font-family-base;
    font-weight: 600;
    font-size: 1.3rem;
}

h6 {
    text-transform: uppercase;
    font-family: $font-family-base;
    font-weight: 500;
    font-size: .9rem;
}

blockquote {
    font-family: $headings-font-family;
    font-weight: 500;
    max-width: 950px;
    margin: 0 auto;
    line-height: 1;

    .lead {
        font-weight: 500;
    }
}

.fab,
.fa-brands {
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border: 1px solid $black;
    border-radius: 50%;
    text-decoration: none;
    color: $black;

    &:hover {
        background-color: $white;

        @include transition(.12s);
    }
}