.preload * {
  animation-duration: 0s !important;
  transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}
.preload *::before {
  animation-duration: 0s !important;
  transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

@font-face {
  font-family: "Sweet Sans Pro";
  font-style: normal;
  font-weight: 100;
  src: local("Sweet Sans Pro"), url("../fonts/sweet-sans-pro/SweetSansProExThin.woff") format("woff");
}
@font-face {
  font-family: "Sweet Sans Pro";
  font-style: italic;
  font-weight: 100;
  src: local("Sweet Sans Pro"), url("../fonts/sweet-sans-pro/SweetSansProExThinItalic.woff") format("woff");
}
@font-face {
  font-family: "Sweet Sans Pro";
  font-style: normal;
  font-weight: 200;
  src: local("Sweet Sans Pro"), url("../fonts/sweet-sans-pro/SweetSansProThin.woff") format("woff");
}
@font-face {
  font-family: "Sweet Sans Pro";
  font-style: italic;
  font-weight: 200;
  src: local("Sweet Sans Pro"), url("../fonts/sweet-sans-pro/SweetSansProThinItalic.woff") format("woff");
}
@font-face {
  font-family: "Sweet Sans Pro";
  font-style: normal;
  font-weight: 300;
  src: local("Sweet Sans Pro"), url("../fonts/sweet-sans-pro/SweetSansProExLight.woff") format("woff");
}
@font-face {
  font-family: "Sweet Sans Pro";
  font-style: italic;
  font-weight: 300;
  src: local("Sweet Sans Pro"), url("../fonts/sweet-sans-pro/SweetSansProExLightItalic.woff") format("woff");
}
@font-face {
  font-family: "Sweet Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Sweet Sans Pro"), url("../fonts/sweet-sans-pro/SweetSansProLight.woff") format("woff");
}
@font-face {
  font-family: "Sweet Sans Pro";
  font-style: italic;
  font-weight: 400;
  src: local("Sweet Sans Pro"), url("../fonts/sweet-sans-pro/SweetSansProLightItalic.woff") format("woff");
}
@font-face {
  font-family: "Sweet Sans Pro";
  font-style: normal;
  font-weight: 500;
  src: local("Sweet Sans Pro"), url("../fonts/sweet-sans-pro/SweetSansProMedium.woff") format("woff");
}
@font-face {
  font-family: "Sweet Sans Pro";
  font-style: italic;
  font-weight: 500;
  src: local("Sweet Sans Pro"), url("../fonts/sweet-sans-pro/SweetSansProMediumItalic.woff") format("woff");
}
@font-face {
  font-family: "Sweet Sans Pro Bold";
  font-style: normal;
  font-weight: 600;
  src: local("Sweet Sans Pro Bold"), url("../fonts/sweet-sans-pro/SweetSansProBold.woff") format("woff");
}
@font-face {
  font-family: "Sweet Sans Pro";
  font-style: italic;
  font-weight: 600;
  src: local("Sweet Sans Pro"), url("../fonts/sweet-sans-pro/SweetSansProBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Sweet Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Sweet Sans"), url("../fonts/sweet-sans-pro/SweetSansProHeavy.woff") format("woff");
}
@font-face {
  font-family: "Sweet Sans Pro";
  font-style: ita;
  font-weight: 700;
  src: local("Sweet Sans Pro"), url("../fonts/sweet-sans-pro/SweetSansProHeavyItalic.woff") format("woff");
}
@font-face {
  font-family: "Filosofia";
  src: url(../fonts/filosofia/Filosofia.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "IvyMode";
  src: url(../fonts/ivy/IvyMode-Variable.woff2);
  font-style: normal;
  font-variation-settings: "ital" 0, "wght" 200;
  font-weight: 100 900;
  descent-override: 0%;
}
@font-face {
  font-family: "Cormorant";
  src: url(../fonts/cormorant/Cormorant-VariableFont_wght.ttf);
  font-weight: 100 900;
  descent-override: 0%;
}
@font-face {
  font-family: "Cormorant";
  src: url(../fonts/cormorant/Cormorant-Italic-VariableFont_wght.ttf);
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: "DIN";
  src: url(../fonts/din/FF-DIN-Variable.woff);
  font-weight: 100 900;
}
@font-face {
  font-family: "DIN";
  src: url(../fonts/din/FF-DIN-Italic-Variable.woff);
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: "Overpass";
  src: url(../fonts/overpass/Overpass-VariableFont_wght.ttf);
  font-weight: 100 900;
  descent-override: 0%;
}
@font-face {
  font-family: "Overpass";
  src: url(../fonts/overpass/Overpass-Italic-VariableFont_wght.ttf);
  font-weight: 100 900;
  font-style: italic;
  descent-override: 0%;
}
h1 {
  font-size: 3rem;
}

h2 {
  font-size: clamp(2rem, 5vw, 2.5rem);
  margin-bottom: clamp(0.5rem, 1vw, 1.3rem);
}

blockquote {
  font-family: "IvyMode";
  margin: 4rem auto 6rem;
  font-weight: 200;
}

.header-hero {
  display: flex;
  position: relative;
  background-color: #f3eae6;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  height: 100dvh;
  flex-direction: column;
  justify-content: center;
}
.header-hero::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: radial-gradient(circle, transparent, #17191a);
}
.header-hero-content {
  position: relative;
  z-index: 2;
}
.header-hero-content img {
  border-top-left-radius: 150px;
  border-bottom-right-radius: 150px;
}
.header-hero-content span {
  display: inline-block;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.header-hero-content h2 {
  margin-bottom: 2rem;
  font-weight: 300;
}

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #17191a;
  --codeit-navbar-color: #17191a;
  --codeit-navbar-hover-color: #17191a;
  --codeit-navbar-brand-color: #17191a;
  --codeit-navbar-brand-hover-color: #17191a;
  --codeit-navbar-brand-margin-end: 5rem;
}
.navbar-brand {
  font-family: "IvyMode";
  text-transform: uppercase;
  font-weight: 300;
}
.navbar-brand img {
  max-width: 340px;
}
.navbar-nav {
  justify-content: space-between;
  flex-grow: 1;
}

.admin-bar #main-nav.fixed-top {
  top: 32px;
}

.navbar .nav-item {
  position: relative;
  overflow: hidden;
  overflow: hidden;
}
@keyframes line-slide-in {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
@keyframes link-line-slide-in {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
.navbar .nav-item::after {
  position: absolute;
  content: " ";
  background-color: #2e3031;
  bottom: 39%;
  height: 1px;
  width: 100%;
}
.navbar .nav-item:not(.active)::after {
  left: -100%;
}
.navbar .nav-item:not(.active):hover::after {
  animation: link-line-slide-in 0.15s forwards;
}
.navbar .nav-item::after {
  background-color: #17191a;
}

.btn {
  position: relative;
  --b: 2px; /* border thickness */
  --s: .2em; /* size of the corner */
  --c: #17191a;
  --_p: var(--s);
  background: conic-gradient(from 90deg at var(--b) var(--b), rgba(0, 0, 0, 0) 90deg, var(--c) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.12s linear, color 0s, background-color 0s;
  outline: var(--b) solid rgba(0, 0, 0, 0);
  outline-offset: 0.2em;
  border: none;
  transition: background 0.2s ease-in-out;
  overflow: hidden;
}
@keyframes btn-line-slide-in {
  from {
    left: -100%;
  }
  to {
    left: 1.5rem;
  }
}
.btn::after {
  position: absolute;
  content: " ";
  background-color: #2e3031;
  bottom: 37%;
  height: 1px;
  width: calc(100% - 3rem);
}
.btn:not(.active)::after {
  left: -100%;
}
.btn:not(.active):hover::after {
  animation: btn-line-slide-in 0.15s forwards;
}
.btn:active {
  background-color: transparent;
}
.btn::before {
  background-size: 200%;
  background-position: 0%;
  height: calc(100% - var(--s) * 2 - 2px);
  width: calc(100% - var(--s) * 2 - 2px);
  top: calc(var(--s) + 1px);
  left: calc(var(--s) + 1px);
  z-index: -1;
}
.btn-secondary {
  color: #17191a;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}
.btn-secondary::before {
  position: absolute;
  content: " ";
  background-image: linear-gradient(to right, #fff 0%, #fff 100%);
}
.btn-secondary::after {
  background-color: #17191a;
}
.btn-secondary:hover {
  color: #17191a;
  background-color: transparent;
}
.btn-dark {
  --codeit-btn-bg: transparent;
  --codeit-btn-active-bg: transparent;
  --codeit-btn-disabled-bg: transparent;
  --codeit-btn-active-shadow: none;
  --codeit-btn-active-border-color: transparent;
}
.btn-dark::before {
  position: absolute;
  content: " ";
  background-image: linear-gradient(to right, #17191a 0%, #17191a 100%);
}
.btn-dark::after {
  background-color: #fff;
}
.btn-dark:hover {
  color: #fff;
  background-color: transparent;
}
.btn-outline-white {
  --c: #fff;
  color: #fff;
}
.btn-outline-white:hover {
  background-color: transparent;
  color: #fff;
}
.btn-outline-white:hover .fa-arrow-right-long {
  right: calc(var(--s) * -1);
}
.btn-outline-white::after {
  background-color: #fff;
}
.btn-outline-dark {
  --c: #17191a;
  --codeit-btn-bg: transparent;
  --codeit-btn-active-color: #17191a;
  --codeit-btn-active-bg: transparent;
  --codeit-btn-disabled-bg: transparent;
  --codeit-btn-active-shadow: none;
  --codeit-btn-active-border-color: transparent;
}
.btn-outline-dark:hover {
  background-color: transparent;
  color: #17191a;
}
.btn-outline-dark:hover .fa-arrow-right-long {
  right: calc(var(--s) * -1);
}
.btn [class^=fa-] {
  position: relative;
  transition: right 0.12s ease-in-out;
  right: 0;
}
@keyframes border-radius-in {
  from {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  to {
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}
@keyframes border-radius-out {
  to {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
@keyframes btn-background-anim-in {
  from {
    background-position: 0%;
  }
  to {
    background-position: -100%;
  }
}
@keyframes btn-background-anim-out {
  from {
    background-position: -100%;
  }
  to {
    background-position: 0%;
  }
}

.block {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}
.block-col, .block-col {
  flex: 1;
}
.block-standaard {
  position: relative;
}
.block-standaard::after {
  position: absolute;
  content: " ";
  height: 400px;
  width: 400px;
  z-index: -2;
}
.block-standaard.block-even::after {
  background-color: #f0e5e0;
  top: -40px;
  right: -40px;
}
.block-standaard.block-odd::after {
  background-color: #dceae0;
  bottom: 50%;
  left: 30%;
}
.block-text {
  background-color: #e1e1e1;
  padding: 2rem;
}

/*# sourceMappingURL=dewoonstee.css.map */
